{% extends "base.html" %}

{% block icerikmicerik %}


{%for atar in object_list %}
        {{ atar.atar_icerigi }}
        {{ atar.tarih }}

{% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/duyurular?page={{ page_obj.previous_page_number }}">Daha Yeniler</a>
                {% endif %}
                <span class="page-current">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/duyurular?page={{ page_obj.next_page_number }}">Daha Eskiler</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}