{% extends "base.html" %}

{% block icerikmicerik %}
<div id="Container">
	<div class="textContainer">
		<p><strong>Şimdi biz çok mesai yapıyoruz.</strong> Yalnız ek ücret yok.</p>
		<p><strong>Yol yemek? Tabiki veriyoruz.</strong> Ama maaşın içinde.</p>
		<p><strong>Bu maaşı zaten alırsın.</strong> Ama başlangıç böyle olsun.</p>
		<p><strong>Bütün bunlara rağmen soruyorum</strong></p>
		<h1 id="Logo"><a href="javascript:void(0)">Irgatım Olur musun? İş ve işçi bulma sitesi.</a></h1>
		<p>
			<a href="/atarlar" class="btn btn-info">Ne Zaman Didim Haci</a>
			<a href="#GetText" class="btn btn-primary letsText">Sana Bi Söz Yazdım</a>
		</p>
	</div>
	<div class="bossChair">
		<span></span>
	</div>
	<div class="workerChair">
		<span></span>
	</div>
</div>
<div id="SendFormContainer">
	<form action="." method="POST" id="ercanpy">{% csrf_token %}
	  <fieldset>
	    <legend>Tutmayın küçük enişteyi</legend>
		{{ form.kimsin_sen }}
		<!--<label class="radio">
		  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
		  İşçiyim, hala elim ayağım titriyor 
		</label>
		<label class="radio">
		  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2">
		  İşverenim, bu marabalar bu kadar etmez
		</label>-->
		<label class="textarea">
		{{ form.atar_icerigi }}
		</label>
	    <span class="help-block">Bundan sonrası zorunlu değildir. Verilen bilgiler paylaşımcının sorumluluğundadır. </span>
	    {{ form.konusan_kisi }}
	    {{ form.sirket }}
	    {{ form.konusulan_kisi }}
	    <label class="checkbox">
	      <input type="checkbox"> Beni Bozmaz Hacı
	    </label>
	    <button type="submit" class="btn btn-primary">Ver Ayarı</button>
	  </fieldset>
	</form>
</div>
{% endblock %}
